.form {
  display: flex;
  align-items: center;
}
.input {
  width: 100%;
  height: 30px;
  max-width: 200px;
  margin-block: 15px;
  padding-inline: 6px;
  padding: 4px 6px;
  border: 2px solid black;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.input:focus-visible {
  outline: none;
  border: 2px solid #ce3d3d;
}
.btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid transparent;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;

  background-color: rgb(221, 221, 221);
  background-image: url('/src/images/svg/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  cursor: pointer;

  transition: filter 150ms;
}
.btn:hover {
  filter: brightness(90%);
}
.btn:focus-visible {
  outline: none;
  border: 1px solid #ce3d3d;
}
.btn:active {
  background-size: 19px;
}
