.container {
  display: block;
  justify-content: center;
  margin-inline: auto;
  max-width: 1000px;
}
@media screen and (min-width: 635px) {
  .container {
    display: flex;
  }
}
.img {
  object-fit: contain;
  margin-inline: auto;
}
@media screen and (min-width: 635px) {
  .img {
    margin-inline: 0;
  }
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 10px;

  padding: 20px 15px;
}
.item {
  padding: 10px;
  box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 0.5);
}
.title,
.subtitle {
  margin-block: 0 10px;
}
.description {
  margin: 0;
}
.overview {
  max-height: 150px;
  padding-right: 5px;
  padding-block: 1px;
  overflow-y: auto;

  scrollbar-width: 8px;
  scrollbar-color: #888 #f1f1f1;
}
.overview::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.overview::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.overview::-webkit-scrollbar-thumb {
  background: #888;
}
.overview::-webkit-scrollbar-thumb:hover {
  background: #555;
}
